/* Caracterisiticas generales */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: black;
}

hr {
    height: 0.035rem;
    background-color: #00AAE4 ;
}

footer {
    background-color: #00AAE4;
    padding: 0.5rem;
    color: white;
}

footer i{
    padding-right: 1rem;
}



/* .navbar{
    color: TuColor #00AAE4 !important;    
} */

/* Fuentes */
.prompt-light {
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
}

.prompt-medium {
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
}

.form {
    padding: 1rem;
}

/* .full {
    width: 100%;
} */

#quienes {
    padding-bottom: 4rem;
}

#destacados {
    padding-bottom: 4rem;
}

#contacto {
    padding-bottom: 4rem;
}
